<%- include('../partials/asidenav.ejs')%>



    <section class="content-main  mt-100"  >
        <div class="card mx-auto  card-login" style="background-color: rgb(115, 91, 223); ">
            <div class="card-body" >
                <h4 class="card-title mb-4"  >Add New Category</h4>
                <form action=""  method="post">
                    <div class="mb-3">
                        <input  name="category"  class="form-control" placeholder="Name of Category" type="text" />
                    </div>
                  
                    <div class="mb-3">
                        <input  name="descategory" class="form-control" placeholder="Discription of Category" type="text" />
                    </div>
                  
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-20 "  style="padding-left: 50px; margin-left: 70px;">Add Category</button>
                    </div>
             
                </form>
                
            </div>
        </div>
    </section>


</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>
</html>