<%- include('../partials/asidenav.ejs')%>


<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
            </div>
        </div>
        <form action="/addproduct" method="post"  style="border: 1px solid black ; padding: 8px;" enctype="multipart/form-data">
            <div class="col-lg-6">
                <div class="card mb-3"   >
                    <div class="card-body">
                        <div class="mb-2">
                            <label for="product_title" class="form-label">Product Name</label>
                            <input type="text" placeholder="Type here" class="form-control" name="productName"  style="border: 1px solid black ; padding: 8px;"/>
                        </div>
                        <div class="row gx-3">
                            <div class="mb-3">
                                <label for="product_sku" class="form-label">Quantity</label>
                                <input type="text" placeholder="Type here" class="form-control" name="productQuantity" style="border: 1px solid black ; padding: 8px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="product_sku" class="form-label">Category</label>
                                <select type="text" placeholder="Type here" class="form-control" name="productCategory"   style="border: 1px solid black ; padding: 8px;">
                                    <%category.forEach(category=>{%>

                                        <option  value="<%=category.categoryname%>" > <%=category.categoryname%> </option>
                                   <% })%>
                                            
                                       
                                  
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="mb-3">
                                <label for="product_sku" class="form-label">Price</label>
                                <input type="text" placeholder="Type here" class="form-control" name="productPrice"  style="border: 1px solid black ; padding: 8px;"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card end -->
                <div class="card ">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Description</label>
                            <input placeholder="Type here" class="form-control" rows="4" name="productDescription"  style="border: 1px solid black ; padding: 8px;"/>
                        </div>
                    </div>
                </div>
                <!-- card end// -->
                <div class="card ">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Images</label>
                            <input type="file" name="images" multiple>
                           
                            <!-- <input  name="productImages" class="form-control"    multiple  style="border: 1px solid black ; padding: 8px;"  /> -->
                            <p id="image-Error" style="color: red"></p>
                        </div>
                        <img class="rounded-2 " style="width: 150px;" id="preview-1" alt=""  style="border: 1px solid black ; padding: 8px;">
                        <img class="rounded-2 " style="width: 150px;" id="preview-2" alt=""  style="border: 1px solid black ; padding: 8px;">
                        <img class="rounded-2 " style="width: 150px;" id="preview-3" alt="" style="border: 1px solid black ; padding: 8px;">
                        <img class="rounded-2 " style="width: 150px;" id="preview-4" alt=""  style="border: 1px solid black ; padding: 8px;">
                    </div>
                   
                </div>
                
            </div>
            <div>
                <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Products</button>
            </div>
        </form> 
    </div>
</section>



<script src="/adminpublic/adminlogin/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/select2.min.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminpublic/adminlogin/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="/adminpublic/adminlogin/js/main.js?v=1.1" type="text/javascript"></script>