<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V18</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/signuppage/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/signuppage/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/signuppage/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/signuppage/css/main.css" />
    <!--===============================================================================================-->
  </head>

  <!-- Signup Page -->

  <body style="background-color: #666666">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" action=""  onsubmit="handleSubmit()"  method="post">
            <span class="login100-form-title p-b-43"> Sign-Up </span>

            
            <% if(typeof message !=='undefined' ){ %>
              <p style="color: red;">
                  <%= message %>
              </p>

              <% } %>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="name"
                placeholder="Enter your Name"
              />
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Enter you email"
              />
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="number"
                name="mno"
                placeholder="Enter your MobleNo"
              />
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Enter new Password"
              />
            </div>

            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div>
                <a href="#" class="txt1"> Forgot Password? </a>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">signup</button>
            </div>

            <div class="text-center p-t-46 p-b-20">
              <span class="txt2"> or sign up using </span>
            </div>

            <div class="login100-form-social flex-c-m">
              <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
              </a>

              <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
          </form>

          <div
            class="login100-more"
            style="background-image: url('/signuppage/images/bg-01.jpg')"
          ></div>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <script>
       let show=document.getElementById("show1");

function handleSubmit(){
    let username=document.getElementById("uname").value;
    let email=document.getElementById("email").value;
    let password1=document.getElementsByName("p1").value;
    let password2=document.getElementsByName("p2").value;
    if(username.trim()==""){
        document.getElementById("show1").innerHTML="Username can't be empty";
      return false;
    }
   let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!email.match(emailRegex)) {
      document.getElementById("show2").innerHTML = "Please enter a valid email address";
      return false;
    }
    if(password1.trim()=""){
      document.getElementById("show3").innerHTML="Passwords can't be empty";
      return false;
    }
    if(password2.trim()=""){
      document.getElementById("show4").innerHTML="Passwords can't be empty";
      return false;
    }
    if(password1!=password2){
      document.getElementById("show4").innerHTML="Passwords doesn't match";
      return false;
    }


  }

    </script>
  </body>
</html>
